<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
        </ul>
        <form class="d-flex" role="button">
            <button class="btn btn-dark " type="submit" (click)="logout()">Logout</button>
        </form>
    </div>
  </nav>

<div>Employee Data</div>
<!-- <div class="container mt-4">
    <input matInput [(ngModel)]="searchText" placeholder="Search">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>
      <ng-container matColumnDef="empId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id</th>
        <td mat-cell *matCellDef="let row">{{ row.empId }}</td>
      </ng-container>
      <ng-container matColumnDef="DOJ">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Joining</th>
        <td mat-cell *matCellDef="let row">{{ row.DOJ }}</td>
      </ng-container>
      <ng-container matColumnDef="seat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Seat</th>
        <td mat-cell *matCellDef="let row">{{ row.seat }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div> -->
  <div class="datatable mt-4">
<table class="table table-striped table-hover">
    <thead class="datatable-header">
        <tr>
            <th *ngFor="let header of displayedColumns" scope="col">
                {{ header | titlecase }}
              </th>
            <!-- <th scope="col">Name</th>
            <th scope="col">Employee Id</th>
            <th scope="col">Date Of Joining</th>
            <th scope="col">Seat</th> -->
        </tr>
    </thead>
    <tbody class="datatable-body">
        <tr *ngFor="let row of employeeData">
            <td>{{row.name}}</td>
            <td>{{row.empId}}</td>
            <td>{{row.DOJ}}</td>
            <td>{{row.seat}}</td>
        </tr>
    </tbody>
</table>
</div>
